.header{
    /* background-color:brown; */
    height: 300px;
}

.header__home{
    float:left;
    border: solid 1px;
}

.wrapper{
    border: 1px solid;
}
.navbar__list{
    list-style-type: none;
    padding-right:30px;
    
}
.header-navbar{
    border: solid 1px;
    float:right;
    position: relative;
}

.navbar__list{
    background-color:black;
    color:white;
}

.navbar__item{
    display:inline-block;
    padding-left:15px;
}
.main-page{
    display:block;
}